<%- include("header") -%>
    <div id="content-wrap">
    <form action="/vote" method="post" class="poll" autocomplete="off">
      <div class="red-margin"></div>
      <div class="question">
        <input
          type="text"
          placeholder="Type your question here"
          class="question-input "
          name="question"
        />
      </div>
      <div id="list">
      <input
        type="text"
        placeholder="Enter Option"
        class="option-input"
        name="option1"
        id="option1"
      /><input
        type="text"
        placeholder="Enter Option"
        class="option-input "
        name="option2"
        id="option2"
      /><input
        type="text"
        placeholder="Enter Option"
        class="option-input "
        name="option3"
        id="option3"
      />
      </div>
      <div class="poll-create">
        <button type="submit" class="btn btn-primary btn-lg">
          Create Poll
        </button>
      </div>
    </form>
    </div>

    <%- include("footer") -%>
    
