html {
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --margin-width: 12%;
}

.title {
  text-align: center;

  padding: 30px;
  margin-bottom: 20px;
  font-family: SF Pro Display, SF Pro Icons, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.poll {
  margin: auto;
  background-color: #f5f5f5;

  width: 100%;
  max-width: 700px;
  /* border-style: none;
  border-width: 1px;
  border-color: darkgray; */

  position: relative;
  display: flex;

  flex-direction: column;
}

.red-margin {
  position: absolute;
  height: 100%;
  border-right: 2px solid #ca302c;

  width: var(--margin-width);
  pointer-events: none;
}
.red-margin-input {
  position: absolute;
  height: 50px;
  border-right: 2px solid #ca302c;

  width: var(--margin-width);
  pointer-events: none;
}
.question {
  width: 100%;

  border: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: 0;
  height: 90px;
  background: transparent;
  position: relative;
}

input:focus {
  outline: none;
}
.question .question-input {
  background-color: transparent;
  border-color: transparent;
  width: inherit;
  height: inherit;
  cursor: text;
  padding: 15px;
  padding-left: 100px;
  font-size: 1.7rem;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.option-input {
  background-color: transparent;
  border-color: transparent;
  height: 50px;
  cursor: text;
  padding: 5px;
  padding-left: 100px;
  font-size: 1.2rem;
  line-height: 20px;
  letter-spacing: 0.6px;

  width: 100%;

  border: solid;
  border-color: black;
  border-width: 0 0 1px 0;
}

.poll-create {
  height: 7rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question .question-display {
  cursor: text;
  padding: 35px;
  padding-left: 100px;
  font-size: 1.7rem;
  line-height: 20px;
  letter-spacing: 0.6px;
  display: flex;
}

.option-display {
  display: flex;
  height: 50px;
  cursor: text;

  width: 100%;

  border: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0px 0 1px 0;

  font-size: 1.2rem;
  line-height: 20px;
  letter-spacing: 0.6px;
}
.option-number {
  display: flex;
  width: var(--margin-width);
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.option-text {
  flex-grow: 1;
  display: flex;
  padding: 15px;
  padding-left: calc(100px-var(--margin-width));
  font-size: 1.2rem;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.draggable {
  cursor: move;
}
.draggable.dragging {
  opacity: 1;
  color: blue;
  outline: solid 2px black;
  border: none
}

.poll-buttons {
  height: 7rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title h1 {
  /* color: navy; */

  font-size: 4rem;
  width: 20%;
  min-width: 20%;
  margin: 40px auto 0px auto;
  font-weight: 600;
  letter-spacing: 0.04em;

  --gradient-highlight-spread: 20%;
  --gradient-shimmer-angle: 100deg;
  --gradient-position: 140%;
  --gradient-position-start: 140;
  --gradient-position-end: -40;

  --headline-gradient-direction: 90deg;
  --headline-gradient-start: #194bb5;
  --headline-gradient-end: #009de4;
  --headline-gradient-shimmer: #5ac8fa;

  background-image: linear-gradient(
      var(--gradient-shimmer-angle),
      transparent calc(50% - var(--gradient-highlight-spread)),
      var(--headline-gradient-shimmer),
      transparent calc(50% + var(--gradient-highlight-spread))
    ),
    linear-gradient(
      var(--headline-gradient-direction),
      var(--headline-gradient-start),
      var(--headline-gradient-end)
    );

  background-repeat: no-repeat;
  background-size: 200% 100%, 100% 100%;
  background-position: var(--gradient-position) 50%, 50% 50%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title h2 {
  font-size: 1.2rem;
  color: rgb(107, 107, 107);
}
#content-wrap {
  padding-bottom: 7rem; /* Footer height */
}
footer {
  /* background-color: #cacacab1; */
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;

  color: black;
  font-size: 1rem;
  text-align: center;
}
.copyright {
  margin: auto;
}
.total-votes {
  padding-top: 10px;
  padding-left: 100px;
  font-size: 1.2 rem;
}
